html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;

  /* @media screen and (max-width: 425px) { */
  /*   zoom: 0.7; */
  /* } */
}

body {
  height: 100%;
  margin: 0;
  padding: 15px;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 2s ease-in-out;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts {
  display: flex;
  justify-content: center;
  height: 100px;
  position: relative;
  align-self: center;
  width: 300px;

  @media screen and (max-width: 425px) {
    width: 260px;
    height: 54px;
  }
}

main {
  margin: 62px 0px;
  position: relative;
  max-width: 768px;
  width: 100%;

  @media screen and (max-width: 425px) {
    margin: 32px 0px;
    max-width: 100%;
  }
}

section {
  position: relative;
}

.first-label-stacks {
  position: absolute;
  top: -2px;
  left: 18px;
  display: flex;
  gap: 16px;
  z-index: 2;

  @media screen and (max-width: 425px) {
    top: 4px;
    gap: 9px;
    left: 7px;
  }
}

.second-label-stacks {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 24px 8px 56px;
  border: 2px #ff8f00;
  width: fit-content;

  @media screen and (max-width: 425px) {
    padding: 58px 24px;
  }
}

.graph-first-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 21px 0 0 0;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

  @media screen and (max-width: 425px) {
    align-items: flex-start;
    gap: 16px;
  }
}

.title {
  font-family: system-ui, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  background: linear-gradient(to top left, #6e2aff 58%, #9d00ff 65%, #4b00ff 76%, #8800ff 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: -3px;

  @media screen and (max-width: 425px) {
    font-size: 42px;
  }
}

.subtitle {
  font-size: 24px;
  color: #434343;
  padding: 0 4px;
  font-weight: 500;
  position: static;

  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}

.text {
  font-size: 16px;
  padding: 0 6px;
  font-weight: 500;

  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}

.flow {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  align-items: flex-start;
}

.node {
  padding: 8px 16px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 500;
  border-radius: 9px;
  border-width: 3px;
  border-style: double;

  @media screen and (max-width: 425px) {
    font-size: 14px;
    padding: 6px 12px;
  }
}

.img-computer {
  filter: contrast(1.4);

  @media screen and (max-width: 425px) {
    width: 60px;
  }
}

.flow-line {
  stroke-dasharray: 8 8;
  animation: dash 1s linear infinite;
}

.arrow-l {
  flex: none;
  width: 100px;
  height: 100px;
}

.arrow-l svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

@keyframes dash {
  to {
    stroke-dashoffset: -16;
  }
}

.icon-link {
  display: inline-block;
  transition: transform 0.5s;
  position: absolute;
  filter: contrast(1.3);

  @media screen and (max-width: 425px) {
    width: 56px;
  }
}

.icon-link:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s;
  filter: contrast(1.5);
}

.graph-front {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @media screen and (max-width: 425px) {
    gap: 10px;
    margin-top: 5px;
  }
}

.graph-back {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @media screen and (max-width: 425px) {
    gap: 10px;
    margin-top: 5px;
  }
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;

  @media screen and (max-width: 425px) {
    font-size: 20px;
    margin-bottom: 4px;
  }
}

.project-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #ff652a 10%, #ff9900 5%, #9932cc26) 1;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 8px;
  }
}

.project-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  background: linear-gradient(to top left, #ff652a 58%, #ff9900 65%, #ff652a 76%, #ff9900 100%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  @media screen and (max-width: 425px) {
    font-size: 18px;
  }
}

.slim {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 425px) {
    font-size: 15px;
  }
}

.project-description {
  font-size: 16px;
  margin-top: 10px;

  @media screen and (max-width: 425px) {
    display: flex;
    text-align: justify;
    font-size: 13px;
  }
}

.list-projects {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-badges {
  display: flex;
  gap: 4px;
  align-items: center;
}

.badge {
  padding: 2px 5px;
  background-color: #ff9900;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  height: fit-content;
  width: fit-content;
}

.link {
  color: #ff652a;
  font-weight: 600;
  text-decoration: underline;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lang-select {
  position: absolute;
  top: 20px;
  right: 20px;
  appearance: none;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  zoom: 0.7;
  width: 60px;
  height: 65px;
}

#i18n-button-text {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 425px) {
  #lang-select {
    position: relative;
    top: auto;
    right: auto;
    zoom: 0.6;
  }
}
